In [455]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [456]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,50,RL,51.0,4712,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,8,2006,WD,Abnorml,121600
996,997,20,RL,NaN,10659,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2006,COD,Normal,136500
997,998,20,RL,NaN,11717,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2009,WD,Normal,185000
998,999,30,RM,60.0,9786,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,91000
999,1000,20,RL,64.0,6762,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,206000

In [457]:
category = test.loc[:, train.dtypes == object].columns
category

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [458]:
test = test.drop(columns=test.columns[6])
train = train.drop(columns=["Alley"])
test = test.drop(columns=['PoolQC'])
train = train.drop(columns=["PoolQC"])
test = test.drop(columns=['Fence'])
train = train.drop(columns=["Fence"])
test = test.drop(columns=['MiscFeature'])
train = train.drop(columns=["MiscFeature"])
test = test.drop(columns=['Utilities'])
train = train.drop(columns=["Utilities"])
test = test.drop(columns=['LandSlope'])
train = train.drop(columns=["LandSlope"])
test = test.drop(columns=['Street'])
train = train.drop(columns=["Street"])
test = test.drop(columns=['Condition2'])
train = train.drop(columns=["Condition2"])

In [459]:
from sklearn import preprocessing
# Encode Categorical Columns
# создание и обучение
arr = ['MSZoning', 'LotShape', 'LandContour',
       'LotConfig','Neighborhood', 'Condition1',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive',
       'SaleType', 'SaleCondition']

le = preprocessing.LabelEncoder()
train['SaleType'] = le.fit_transform(train['SaleType'])

for i in arr:
    train[i] = le.fit_transform(train[i])
    test[i] = le.fit_transform(test[i])

train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,Neighborhood,Condition1,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,3,3,4,5,2,...,0,0,0,0,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,3,3,2,24,1,...,0,0,0,0,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,0,3,4,5,2,...,0,0,0,0,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,0,3,0,6,2,...,272,0,0,0,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,0,3,2,15,2,...,0,0,0,0,0,12,2008,8,4,250000

In [460]:
train = train.fillna(train.mean())
test = test.fillna(test.mean())

In [461]:
X = train.drop(columns=['SalePrice'])
y = train['SalePrice']

In [462]:
from sklearn.model_selection import train_test_split

train = (train-train.min ())/ (train.max () - train.min ())
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [463]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(max_depth=7, min_samples_leaf=2, n_estimators=50, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [464]:
y_pred_test = model.predict(test)

y_pred_test = pd.DataFrame(data = y_pred_test, columns=['SalePrice'])

y_pred_test = y_pred_test.reset_index()

In [465]:
from sklearn import metrics
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.012121212121212121

In [466]:
for i in range(460):
    y_pred_test['index'] = y_pred_test['index'].replace(i, i+1001)

In [467]:
y_pred_test.to_csv('solution.csv', index = False)

In [468]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
clf = RandomForestClassifier(random_state=42)
param_grid = { 'n_estimators': range (10, 51, 10),
              'max_depth': range (1,13, 2),
              'min_samples_leaf': range (1,8),
              'min_samples_split': range (2,10,2)}

grid = GridSearchCV(clf, param_grid, cv=5)

In [469]:
grid.best_params_

AttributeError: ignored

In [ ]:
grid.best_score_

In [ ]:
grid.best_estimator_